<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
</head>

<body>
    <div class="container-fluid p-0">
        <ul class="h-menu bg-lightBlue fg-white">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    {% block content %}
    {% endblock %}

    <div class="d-flex flex-justify-center flex-align-center bg-lightBlue fg-white fixed-bottom pt-4 pb-2">
        © Copyright 2020 <a class="ml-2" href="https://github.com/tanmayc07">@tanmay</a>
    </div>

    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>

</html>